body {
  font-family: Oxygen;
  color: #0f044c;
}

h1 {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.units a {
  text-decoration: none;
}
